:root{
    --maleColor: var(--blue400);
    --femaleColor: var(--pink400);
    --unisexColor: var(--indigo400); 
}

body *, button, input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--gray800);
}
body {
    margin: 0;
}

button:hover, input:hover, .clickable:hover {
    cursor: pointer;
}

.disabled:hover {
    cursor: not-allowed;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
}

.centerCross {
    display: flex;
    align-items: center;
}

.centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerText {
    text-align: center;
}

.spaceEvenly {
    justify-content: space-evenly;
}

.spacer {
    flex-grow: 1;
}
/* ============================== */
/* ===== front page =====*/
/* ============================== */


#frontPage {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

#frontPage #logoContainer {
    flex-grow: 1;
}

#frontPage .leaves { 
    position: absolute;
    z-index: -1;
    width: 100vw !important;
    display: none;
}

#frontPage #logoContainer > svg{
    height: 100%;
}

#frontPage #logoContainer > svg > *{
    animation: shift 1.5s ease-out;
}

#frontPage .pram .wheel {
    transform-box: fill-box;
    transform-origin: center;
}

#frontPage .pram .frontWheel {
    animation: turnSmall 1.5s ease-out; /* the smaller wheel should technically turn faster */
}

#frontPage .pram .backWheel {
    animation: turn 1.5s ease-out;
}

#frontPage .pram .bubble {
    transform-box: fill-box;
    transform-origin: center;
    transform: scale(0);
    animation: popup 0.5s linear 1s forwards;
}

#frontPage #heading {
    margin: 1rem 0 1.5rem 1rem;
}

#frontPage #heading > h1{
    font-size: 5rem;
    margin: 0 1rem 0 0;
}

#frontPage #heading > h1:last-child{
    margin-right: 0;
}

#frontPage #heading > h1 > span {
    color: var(--indigo700);
}

#frontPage #bottomHalf {
    width: 100vw;
    background-color: var(--indigo100);
}

#frontPage #buttons {
    margin: 2rem 0 2rem 0;
}

#frontPage #buttons button{
    width: 11rem;
    max-width: 42.5vw;
    height: 3rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-weight: 300;
    border: none;
}

#frontPage #buttons *{
    margin-right: 1rem;
}

#frontPage #buttons *:last-child{
    margin-right: 0;
}

#frontPage #login {
    background-color: var(--indigo700);
    color: white;
}

#frontPage #signup {
    background-color: white;
    color: var(--indigo700);
}

#frontPage #buttons button:last-child {
    margin-right: 0;
}

@keyframes shift {
    from {
        transform: translateX(100px);
    } to {
        transform: translateX(0px);
    }
}

@keyframes turn {
    from {
        transform: rotate(180deg);
    } to {
        transform: rotate(0deg);
    }
}

@keyframes turnSmall {
    from {
        transform: rotate(270deg);
    } to {
        transform: rotate(0deg);
    }
}

@keyframes popup {
    0% {
        transform: scale(0);
    } 50% {
        transform: scale(1.1);
    } 65% {
        transform: scale(1);
    } 85% {
        transform: scale(1.05);
    } 100% {
        transform: scale(1);
    }
}

/* ============================== */
/* ===== login ===== */
/* ============================== */


#loginPage {
    height: 100vh;
    background-color: var(--indigo100);
}

#loginPage h1{
    font-size: 5rem;
    margin: 1rem;
}

#loginPage label{
    color: var(--indigo700);
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

#loginPage input{
    border: solid 0.15rem var(--indigo700);
    height: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    width: 14rem;
    font-size: 1.25rem;
    text-align: center;
}

#loginPage #logoContainer {
    flex-grow: 1;
    width: 100vw;
}

#loginPage #logoContainer > svg{
    height: 100%;
    opacity: 75%;
}

#loginPage .pram .bubble{
    display:none;
}

#loginPage #buttons{
    margin: 3rem 0 2rem 0;
}

#loginPage #buttons button{
    margin-right: 1rem;
    width: 11rem;
    max-width: 42.5vw;
    height: 3rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-weight: 300;
    border: none;
}

#loginPage #buttons button:last-child{
    margin-right: 0;
}

#loginPage #back {
    background-color: white;
    color: var(--indigo700);
}

#loginPage #login {
    background-color: var(--indigo700);
    color: white;
}

/* ============================== */
/* ===== signup ===== */
/* ============================== */

    #signupPage {
        height: 100vh;
        background-color: var(--gray200);
    }

#signupPage h1{
    font-size: 5rem;
    margin: 1rem;
}

#signupPage label{
    color: var(--indigo700);
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

#signupPage input{
    border: solid 0.15rem var(--indigo700);
    height: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    width: 14rem;
    font-size: 1.25rem;
    text-align: center;
}

#signupPage label[for*='password']{
    color: var(--gray800);
}

#signupPage input[type='password']{
    background-color: var(--indigo100);
}

#signupPage #logoContainer {
    flex-grow: 1;
    width: 100vw;
}

#signupPage #logoContainer > svg{
    height: 100%;
    opacity: 50%;
}

#signupPage .pram .bubble{
    display:none;
}

#signupPage #buttons{
    margin: 3rem 0 2rem 0;
}

#signupPage #buttons button{
    margin-right: 1rem;
    width: 11rem;
    max-width: 42.5vw;
    height: 3rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-weight: 300;
    border: none;
}

#signupPage #buttons button:last-child{
    margin-right: 0;
}

#signupPage #back {
    background-color: white;
    color: var(--indigo700);
}

#signupPage #signup {
    background-color: var(--indigo700);
    color: white;
}

/* ============================== */
/* ===== main ===== */
/* ============================== */

#mainPage {
    height: 100vh;
}

#mainPage header h1 {
    margin-left: 1rem;
    color: var(--gray700);
    font-size: 2.5rem;
}

#mainPage header h1 span {
    color: var(--indigo700);
}

#mainPage header .cogIcon {
    position: absolute;
    right: 2rem;
}

#mainPage footer {
    width: 100vw;
    background-color: var(--indigo700);
}

#mainPage footer, #mainPage header {
    min-height: 5rem;
}

#mainContent {
    flex-grow: 1;
    overflow: auto;
}

#mainPage .mainPageNav > svg {
    height: 2.5rem;
}

#mainPage .mainPageNav > svg * {
    stroke: white;
}

#mainPage .mainPageNav > p {
    color: white;
    margin: 0.25rem;
    text-transform: capitalize;
}

#mainPage .mainPageNav.selected > svg *{
    stroke: var(--indigo400);
}


#mainPage .mainPageNav.selected > p {
    color: var(--indigo400);
}


/* ============================== */
/* ===== ratings ===== */
/* ============================== */

#ratingsPage {
    background-color: var(--gray100);
}

#ratingsPage .filterIcon > * {
    stroke: var(--gray700);
}

#ratingsPage .filterIcon {
    color: var(--gray700);
    /* border-radius: 100%; */
    /* background-color: var(--gray400); */
    padding: 0.5rem;
}

#ratingsPage #filter {
    height: 3rem;
    background-color: var(--gray200);
    position: relative;
    z-index: 2;

}

#ratingsPage #filterPill {
    border: solid thin var(--gray700);
    color: var(--gray700);
    margin: 0;
    padding: 0.15rem 0.1rem 0.15rem 0.5rem;
    border-radius: 2rem;
}

#ratingsPage #filterPill p{
    margin: 0;
    font-weight: 500;
    font-size: 0.8rem;
    height: 1rem;   
    color: var(--gray700);
}

#ratingsPage #ratingsFilter {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 13rem;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 15px 35px 15px rgba(0,0,0,0.15);
}

#ratingsPage .filterOption.selected {
    background-color: var(--indigo400);
    border-radius: 0.5rem;
}

#ratingsPage .filterName {
    margin-left: 0.5rem;
    user-select: none;
}

#ratingsPage .filterOption.selected .filterName {
    color: white;
}

#ratingsPage .subfilterOptionIcon{
    margin-right: 0.5rem;
}

#ratingsPage .subfilterOptionIcon > *{
    color: var(--gray700);
    stroke: var(--gray700);
    font-weight: 600;
    user-select: none;
}

#ratingsPage .filterOption.selected .subfilterOptionIcon > *{
    color: white;
    stroke: white;
}


#ratingsPage #filterPill .ratingFilterIcon {
    margin: 0 0.3rem !important;
}


#ratingsPage #filterPillName {
    padding-right: 0.3rem;
    border-right: solid thin;
}

#ratingsPage #filterPill svg {
    height: 1rem;
}

#ratingsPage #filterPill svg > *{
    stroke: var(--gray700);
}

#ratingsPage #filter input {
    height: 60%;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--gray400);
    margin-right: 0.4rem;
    width: 45%;
    max-width: 20rem;
    padding-left: 0.5rem;
}

#ratingsPage .searchIcon {
    position: absolute;
    right: 0.5rem;
    height: 1rem;
}

#ratingsPage .searchIcon * {
    stroke: var(--gray700);
}

#ratingsPage #ratingsTableContainer{
    position: relative;
}

#ratingsPage #filterButton {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
}

#ratingsPage #filterButton.selected, #ratingsPage #filterButton:hover {
    background-color: var(--gray500);
    border-radius: 100%;
}

#ratingsPage .itsARate:hover{
    background-color: white;
}

#ratingsPage .gender {
    width: 1.25rem;
    text-align: center;
    font-size: 0.75rem;
    height: 7rem;
    text-transform: capitalize;
    margin-right: 1.5rem;
}

#ratingsPage .gender > p {
    transform: rotate(-90deg);
    color: white;
    font-weight: 500;
}

#ratingsPage .gender.boy {
    background-color: var(--maleColor);
}

#ratingsPage .gender.girl {
    background-color: var(--femaleColor);
}

#ratingsPage .gender.unisex {
    background-color: var(--unisexColor);
}

.namePop > div {
    margin-left: 0.1rem !important;
}

#ratingsPage .namePop * {
    margin: 0;
}

#ratingsPage .namePop .name {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--gray800);
    text-transform: capitalize;
}

#ratingsPage .namePop .popLabel {
    font-size: 0.75rem;
    color: var(--gray500);
}

#ratingsPage .namePop .pop {
    margin-left: 0.2rem;
    font-size: 1rem;
    color: var(--gray600);
}

#ratingsPage .popSuffix {
    margin-top: -0.3rem;
}

#ratingsPage .popSuffix:after{
    content: "th";
    font-size: 0.6rem;
    color: var(--gray500);
}

#ratingsPage .popSuffix.st:after{ content: "st"; }
#ratingsPage .popSuffix.nd:after{ content: "nd"; }
#ratingsPage .popSuffix.rd:after{ content: "rd"; }
#ratingsPage .popSuffix.th:after{ content: "th"; }

#ratingsPage .starIcon {
    fill: var(--indigo200);
    stroke: var(--indigo200);
    height: 2.25rem;
}

#ratingsPage .rating {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--gray700);
    padding-left: 0.2rem;
    padding-right: 0.75rem;
    margin: 0;
    min-width: 3.75rem;
    text-align: center;
}

#ratingsPage .personRating *:first-child {
    font-weight: 500;
    font-size: 0.8rem;
}
#ratingsPage .personRating *:last-child {
    font-size: 0.5rem;
    margin-top: -0.2rem;
    margin-bottom: 0.1rem;
}
#ratingsPage .personRating > * {
    margin: 0;
    text-align: center;
}
#ratingsPage .personRating {
    border: solid thin;
    border-radius: 0.6rem;
    padding: 0.1rem 0.3rem;
    margin-bottom: 0.3rem
}

#ratingsPage .partnerRating {
    border-color: var(--indigo700);
}

#ratingsPage .partnerRating > * {
    color: var(--indigo700);
}

#ratingsPage .partnerRatings {
    margin-right: 1rem;
}

#ratingsPage #showMoreButton {
    width: 70vw;
    max-width: 30rem;
    align-self: center;
    height: 3rem;
    border-radius: 1.5rem;
    border: solid 0.1rem var(--indigo700);
    background-color: white;
    color: var(--indigo700);
    font-size: 1.5rem;
    margin: 1rem 0;
}

/* ============================== */
/* ===== ratings ===== */
/* ============================== */

#ratePage {
    height: 100%;
}

#ratePage #rateHeader {
    position: relative;
}

#ratePage #rateHeader.male {
    background-color: var(--maleColor);
}

#ratePage #rateHeader.female {
    background-color: var(--femaleColor);    
}

#ratePage #rateHeader.unisex {
    background-color: var(--unisexColor);
}

#ratePage #rateName {
    margin: 0 0 0 1.5rem;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 3rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#ratePage #rateGender {
    padding: 1rem;
    background-color: rgba(0,0,0,0.1);
    border-radius: 0 0 0 1rem;
}

#ratePage #rateGender * {
    margin: 0;
    font-size: 1.25rem;
}

#ratePage #rateGender * {
    margin: 0;
    font-size: 1.25rem;
}

#ratePage #rateGender > *:first-child{
    color: var(--gray100);
}

#ratePage #rateGenderActual {
    margin-left: 0.5rem;
    font-weight: 500;
    color: var(--gray100);
    text-transform: capitalize;  
}

#ratePage #ratePop {
    margin-left: 1.25rem;
    margin-bottom: 0.5rem;
    height: 1.5rem;
}

#ratePage #ratePop > svg {
    width: 1rem;
}

#ratePage #pop {
    font-size: 1.25rem;
}

#ratePage #popLabel {
    font-weight: 100;
}

#ratePage #ratePop > * {
    color: var(--gray100);
    stroke: var(--gray100);
    margin: 0 0 0 0.2rem;
}

#ratePage #popSuffix {
    margin-top: -0.5rem;
}

#ratePage #popSuffix:after {
    margin-left: -0.2rem;
    font-size: 0.75rem;
    margin-top: -1rem;
    font-weight: 100;
}

#ratePage #popSuffix.st:after{ content: 'st'; }
#ratePage #popSuffix.nd:after{ content: 'nd'; }
#ratePage #popSuffix.rd:after{ content: 'rd'; }
#ratePage #popSuffix.th:after{ content: 'th'; }

#ratePage #rateRatingContainer {
    /*margin: -4rem 2rem 1rem 0;*/
    position: absolute;
    right: 2rem;
    bottom: 1rem;
}

#ratePage #rateRatingContainer *{
    color: var(--grey700);
    fill: var(--grey700);
    stroke: var(--grey700);
}

#ratePage #rateRating {
    font-size: 3.5rem;
    margin: 0;
    font-weight: 500;
}

#ratePage .rating {
    width: 50%;
    margin: 0.5rem 0;
}

#ratePage .rating * {
    user-select: none;
}

#ratePage .rating > *:first-child {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.5rem;
}


#ratePage .rating * {
    color: var(--gray700);
    stroke: var(--gray600);
}

#ratePage .rating > div {
    position: relative;
}
#ratePage .rating svg {
    transform: scale(1.25);
    stroke-width: 0.125rem;
}

#ratePage p.saveSpace {
    margin: 0.5rem 0 0 0;
    height: 1.25rem;
    padding: 0.1rem 0.5rem;
    border-radius: 0.725rem;
}

#ratePage .saveSpace.saveButton {
    border: solid 0.1rem
}

#ratePage .saveSpace.saveButton.canSave{
    color: var(--indigo700);
    border-color: var(--indigo700);
}

#ratePage .saveSpace.saveButton.notCanSave{
    color: var(--grey400);
    border-color: var(--grey400);
}

#ratePage #ratingPartner > *:first-child{
    color: var(--gray500);
}

#ratePage #ratingPartner .ratingNumber, #ratePage #ratingPartner .ratingNumber *{
    color: var(--gray600);
    stroke: var(--gray500);
}

#ratePage .ratingNumber {
    width: 2em;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    height: 3rem;
    margin: 0;
}

#ratePage input.ratingNumber {
    background-color: var(--grey200);
    border: none;
    outline: none;
    margin: 0 0.5rem;
    border-radius: 0.75rem;
}

#ratePage #newRating {
    background-color: var(--indigo100);
}

#ratePage .newRateDesc {
    color: var(--indigo700);
    margin: 0.5rem 0 0.5rem 0;
}

#ratePage #randomButton .diceIcon {
    height: 1.5rem;
    margin-right: 0.5rem;
}

#ratePage #randomButton .diceIcon > path {
    fill: white;
}


#ratePage #randomButton > *:last-child {
    border-radius: 0 1.25rem 1.25rem 0;
    width: 7rem;
    background-color: white;
}

#ratePage #randomButton > *:last-child > p {
    text-align: center;
    font-size: 1.25rem;
    color: var(--indigo700);
    text-transform: capitalize;
}

#ratePage #randomButton > *:last-child > .chevronIcon > * {
    stroke: var(--indigo700);
}

#ratePage #randomButton > *:first-child {
    border-radius: 1.25rem 0 0 1.25rem;
    background-color: var(--indigo700);
    color: white;
    padding-left: 1rem;
    font-size: 1.25rem;
}
#ratePage #randomButton > * {
    height: 2.5rem;
    border: solid var(--indigo700);
}

#ratePage #randomButton > svg {
    position: absolute;
    right: 0.5rem;
    color: var(--indigo700);
}

#ratePage #randomButton > svg > * {
    stroke: var(--indigo700)
}

#ratePage .searchIcon > * {
    stroke: var(--indigo700);
    stroke-width: 0.15rem;
}
#ratePage #searchName {
    height: 2.5rem;
    width: 15rem;
    border-radius: 1.25rem;
    background-color: white;
    outline: none;
    border: solid var(--indigo700);
}

#ratePage #newRating > *:last-child {
    margin-bottom: 0.5rem;
}

#ratePage .starIcon {
    height: 2.25rem;
}


@media only screen and (orientation: portrait) {

    #frontPage .leaves { 
        display: block;
        width: 110% !important;
    }

    #mainPage footer, #mainPage header {
        min-height: 6rem;
    }

    #ratingsPage .namePop .name.long {
        font-size: 1rem;
    }

    #ratePage #rateRatingContainer {
        /*margin: -2rem 2rem 1rem 0;*/
    }

    #ratePage #rateName.long {
        font-size: 2rem;
    }

}